.userhomepage{
    margin-top:270px ;
    margin-left: 600px;
    font-size: 50px;
    font-family: "Castoro Titling";
    color: black;
}

.userbackground{
    background: rgb(197,203,214);
background: radial-gradient(circle, rgba(197,203,214,1) 0%, rgba(148,190,233,1) 100%);
width: 100vw;
}